{% extends 'base.html' %} {% block container %}
<div class="grid-layout">
  <input id="servers" name="servers" type="hidden"
    value="wss://liveqats.qcri.org:8888/client/ws/speech|wss://liveqats.qcri.org:8888/client/ws/status" />
  <div class="upper">
    <!-- Start/Stop -->
    <button class="btn btn-outline-danger start-btn micButton" id="buttonToggleListening" onclick="toggleListening();"
      title="Starts/stops listening for speech.">
      Speak
    </button>
    <!-- Timer -->
    <div class="timer">
      <div style="text-align: center;">
        <span class="value stopwatch stat-item">00:00:00</span>
      </div>
    </div>
    <!-- Utils -->
    <div class="tools btn-group dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
        aria-expanded="false"><strong>Utilities</strong>
      </button>
      <ul class="dropdown-menu p-3">
        <li><button class="dropdown-item" type="button" onclick="clearCache();">Clear Cache</button></li>
        <li><button class="dropdown-item" type="button" onclick="init();">Re-Initialize Microphone</button></li>
        <li><button class="dropdown-item" type="button" onclick="saveSessionHandler();">Save Text</button></li>
      </ul>
    </div>

  </div>
  <div class="main">
    <div class="output">
      <div hidden>
        Arabic Speech Recognition Output
        <textarea id="trans"></textarea>
      </div>

      <div class="card bg-dark text-white overflow-auto">
        <div class="card-header font-weight-bold">
          Name Entity Recognition
          <h6 class="text-secondary">TEMPORARILY DISABLED</h6>
        </div>
        <div class="card-body overflow-auto name-entity">
          <p class="card-text ner" id="ner"></p>
        </div>
      </div>
      <div class="card bg-info text-white overflow-auto">
        <div class="card-header font-weight-bold">
          Word segmintation
        </div>
        <div class="card-body overflow-auto segmenter">
          <p class="card-text seg" id="seg"></p>
        </div>
      </div>

      <div class="card bg-secondary text-white overflow-auto">
        <div class="card-header font-weight-bold">
          Word Diactrization
        </div>
        <div class="card-body overflow-auto diacritization">
          <p class="card-text diac" id="diac"></p>
        </div>
      </div>

      <div class="card bg-success text-white">
        <div class="card-header font-weight-bold">
          Parts of Speach
        </div>
        <div class="card-body overflow-auto parts-of-speach">
          <p class="card-text pos" id="pos"></p>
        </div>
      </div>

    </div>


    <div class="card bg-dark rounded mapcontainer">
      <!-- Toggler Div -->
      <div class="toggleContainer">
        <input class="toggle" type="checkbox" checked data-toggle="toggle" data-on="List" data-off="Map"
          data-onstyle="warning" data-offstyle="secondary" onchange="handleContainerView()">
      </div>
      <!-- Card's Text -->
      <div class="card-body p-0 pt-1 text-white" style="flex: 0;">
        <h4 class="text-center">Dialect Predection
        </h4>
      </div>
      <!-- Map Div -->
      <div class="map card-img-top border-warning"></div>
      <!-- List Div -->
      <div class="diacList">
        <ul class="list-group bg-dark">
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger perc-1">
            <h4>Country</h4><span class="badge bg-primary rounded-pill p-2">%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning perc-2">
            <h4>Country</h4><span class="badge bg-primary rounded-pill p-2">%</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary perc-3">
            <h4>Country</h4><span class="badge bg-primary rounded-pill p-2">%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info perc-4">
            <h4>Country</h4><span class="badge bg-primary rounded-pill p-2">%</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}