<!-- Modal -->
<div class="modal fade" id="openingModal" tabindex="-1" aria-labelledby="openingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="openingModalLabel">Information</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-warning mb-2 rounded shadow">This app is targeting Non-IOS devices
            due to recording instabilities
          </li>
          <li class="list-group-item list-group-item-warning mb-2 rounded shadow">View on a desktop for the best view
          </li>
          <li class="list-group-item list-group-item-info rounded shadow">This Project's
            <a href="https://github.com/KazBrekker1/FarSpeech">GitHub Page</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer border-dark">
        <button type="button" class="btn btn-danger shadow-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>