<div class="output">
  <div hidden>
    Arabic Speech Recognition Output
    <textarea id="trans"></textarea>
  </div>

  <div class="card bg-dark text-white name-entity">
    <div class="card-header font-weight-bold">
      <a class="text-white" data-toggle="collapse" data-target="#collapse-ner" aria-expanded="true"
        aria-controls="collapse-ner" id="heading-example">
        Name Entity Recognition
      </a>
    </div>
    <div id="collapse-ner" class="overflow-auto scrollable collapse show" aria-labelledby="heading-example">
      <div class="card-body">
        <p class="card-text ner" id="ner"></p>
      </div>
    </div>
  </div>

  <div class="card border-info translation">
    <div class="card-header border-info font-weight-bold">
      <a class="text-info" data-toggle="collapse" data-target="#collapse-translation" aria-expanded="true"
        aria-controls="collapse-translation" id="heading-example">
        Translation
      </a>
    </div>
    <div id="collapse-translation" class="overflow-auto scrollable collapse show" aria-labelledby="heading-example">
      <div class="card-body">
        <p class="card-text text-info mTrans" id="translation"></p>
      </div>
    </div>
  </div>

  <div class="card bg-secondary text-white diactrization">
    <div class="card-header font-weight-bold">
      <a class="text-white" data-toggle="collapse" data-target="#collapse-diac" aria-expanded="true"
        aria-controls="collapse-diac" id="heading-example">
        Word Diactrization
      </a>
    </div>
    <div id="collapse-diac" class="overflow-auto scrollable collapse show" aria-labelledby="heading-example">
      <div class="card-body">
        <p class="card-text diac" id="diac"></p>
      </div>
    </div>
  </div>

  <div class="switchable">
    <!-- Toggler Div 1 -->
    <div class="toggleContainer">
      <input name="boxToggle" class="toggle" data-width="120" data-height="41" type="checkbox" checked
        data-toggle="toggle" data-on="To SEG." data-off="To P.O.S" data-onstyle="warning" data-offstyle="secondary"
        onchange="handleBoxView()" />
    </div>
    <div class="card bg-success text-white parts-of-speach">
      <div class="card-header font-weight-bold">
        <a class="text-white" data-toggle="collapse" data-target="#collapse-pos" aria-expanded="true"
          aria-controls="collapse-pos" id="heading-example">
          Parts of Speach
        </a>
      </div>
      <div id="collapse-pos" class="scrollable overflow-auto collapse show" aria-labelledby="heading-example">
        <div class="card-body">
          <p class="card-text pos" id="pos"></p>
        </div>
      </div>
    </div>

    <div class="card bg-info text-white segmentation">
      <div class="card-header font-weight-bold">
        <a class="text-white" data-toggle="collapse" data-target="#collapse-seg" aria-expanded="true"
          aria-controls="collapse-seg" id="heading-example">
          Word segmintation
        </a>
      </div>
      <div id="collapse-seg" class="scrollable overflow-auto collapse show" aria-labelledby="heading-example">
        <div class="card-body">
          <p class="card-text seg" id="seg"></p>
        </div>
      </div>
    </div>
  </div>
</div>