.grid-layout {
	height: 100%;
	width: 100%;
	padding-top: 1rem;
	display: flex;
	flex-direction: column-reverse;
	.upper {
		background-color: white;
		position: sticky;
		bottom: 0;
		z-index: 100;
		padding-top: 1rem;
		padding-bottom: 1rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		.timer {
			padding: 1rem;
		}
		.tools {
			width: 30%;
		}
		.start-btn {
			width: 30%;
		}
	}
	.main {
		.output {
			.card {
				margin-bottom: 1rem;
				min-height: 307px;
				max-height: 307px;
			}
		}
	}
	.seg,
	.diac,
	.ner {
		direction: rtl;
	}
	.pos {
		direction: ltr;
	}
}
.toggleContainer {
	position: absolute;
	z-index: 99;
}
.diacList {
	width: 75%;
	margin: 1rem auto 1rem auto;
	ul {
		margin: auto;
		li {
			height: 5rem;
		}
	}
}
.mapael .mapTooltip {
	position: absolute;
	background-color: #fff;
	opacity: 0.9;
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #343434;
}
@media screen and (min-width: 768px) {
	.grid-layout {
		height: 100%;
		width: 100%;
		gap: 1rem;
		padding: 1rem;
		display: grid;
		grid-template-rows: 10% 90%;
		.main {
			grid-column: 1/-1;
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 50%;
			gap: 10px;
			height: 100%;
			width: 99%;
			.output {
				display: grid;
				height: 100%;
				width: 100%;
				gap: 3px;
				grid-template-columns: 50% 50%;
				grid-template-rows: 50% 50%;
				.card {
					margin-bottom: 0;
					max-height: 317px;
				}
			}
			.mapcontainer,
			.diacList {
				width: 100%;
				height: 100%;
			}
			.diacList {
				width: 50%;
				margin: 6rem auto auto auto;
				ul {
					margin: auto;
					li {
						margin: 0.5rem;
						transition: ease 200ms;
						border-radius: 0.25rem !important;
						&:hover {
							transform: scale(1.05);
						}
					}
				}
			}
		}
		.upper {
			grid-column: 1/-1;
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding-top: 0;
			padding-bottom: 0;
			.timer {
				width: 30%;
				margin: auto;
				span {
					font-size: xx-large;
					padding: 1rem;
				}
			}
			.tools {
				width: 30%;
			}
			.start-btn {
				width: 30%;
				font-size: larger;
			}
		}
		footer {
			grid-column: 1/-1;
		}
	}
}
