.grid-layout {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.grid-layout .upper {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-layout .upper .timer {
  padding: 1rem;
}

.grid-layout .upper .tools {
  width: 30%;
}

.grid-layout .upper .start-btn {
  width: 30%;
}

.grid-layout .main .output .card {
  margin-bottom: 1rem;
  min-height: 307px;
  max-height: 307px;
}

.grid-layout .seg,
.grid-layout .diac,
.grid-layout .ner {
  direction: rtl;
}

.grid-layout .pos {
  direction: ltr;
}

.toggleContainer {
  position: absolute;
  z-index: 99;
}

.diacList {
  width: 75%;
  margin: 1rem auto 1rem auto;
}

.diacList ul {
  margin: auto;
}

.diacList ul li {
  height: 5rem;
}

.mapael .mapTooltip {
  position: absolute;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #343434;
}

@media screen and (min-width: 768px) {
  .grid-layout {
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
  }
  .grid-layout .main {
    grid-column: 1/-1;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    gap: 10px;
    height: 100%;
    width: 99%;
  }
  .grid-layout .main .output {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    gap: 3px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .grid-layout .main .output .card {
    margin-bottom: 0;
    max-height: 317px;
  }
  .grid-layout .main .mapcontainer,
  .grid-layout .main .diacList {
    width: 100%;
    height: 100%;
  }
  .grid-layout .main .diacList {
    width: 50%;
    margin: 5rem auto 5rem auto;
  }
  .grid-layout .main .diacList ul {
    margin: auto;
  }
  .grid-layout .upper {
    grid-column: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid-layout .upper .timer {
    width: 30%;
    margin: auto;
  }
  .grid-layout .upper .timer span {
    font-size: xx-large;
    padding: 1rem;
  }
  .grid-layout .upper .tools {
    width: 30%;
  }
  .grid-layout .upper .start-btn {
    width: 30%;
    font-size: larger;
  }
  .grid-layout footer {
    grid-column: 1/-1;
  }
}
/*# sourceMappingURL=css.css.map */